<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RedBus">
    <test name="Booking">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="com.metlife.testsuites"></package>
        </packages>
    </test>
    <test name="booking_firefox">
        <parameter name="browser" value="firefox"></parameter>
        <packages>
            <package name="com.metlife.testsuites"></package>
        </packages>
    </test>
</suite>